.no-datasets-here {
  text-align: center;
}

.dataset {}

.dataset .dataset__description {
  padding-bottom: 10px;
}

.dataset .dataset__meta {
  font-weight: bold;
  text-align: left;
  padding-bottom: 19px;
}

.dataset .dataset__meta a:hover {
  text-decoration: none;
}