
<div ng-repeat="sample in vm.samples">
  <div class="row" ng-cloak>
    <div class="col-sm-12">
      <span class="col-sm-8">{{ sample.name }}</span>
      <span class="col-sm-1">P: {{ sample.metrics.0 }}</span>
      <span class="col-sm-1">R: {{ sample.metrics.1 }}</span>
      <span class="col-sm-1">S: {{ sample.metrics.2 }}</span>
      <span class="col-sm-1">F: {{ sample.metrics.3 }}</span>
    </div>

    <div class="col-sm-3">
      <a href="#">
        <img class="thumbnail" src="{{ sample.original_image }}" alt="" width="304" height="236">
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#">
        <img class="thumbnail" src="{{ sample.ground_truth_color_image }}" alt="" width="304" height="236">
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#">
        <img class="thumbnail" src="{{ sample.ground_truth_image }}" alt="" width="304" height="236">
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#">
        <img class="thumbnail" src="{{ sample.output_image }}" alt="" width="304" height="236">
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#">
        <img class="thumbnail" src="{{ sample.trapezia_image }}" alt="" width="304" height="236">
      </a>
    </div>

  </div>
</div>

<div ng-hide="vm.samples && vm.samples.length">
  <div class="col-sm-12 no-datasets-here">
    <em>The are no samples here.</em>
  </div>
</div>